.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/*.log
vignettes/*.gz
*.log
inst/doc
kenworthy_newriver
TODO.md
Dockerfile
ipdw.Rproj
cran-comments.md
tests/testthat/Rplots.pdf
vignettes/ipdw2.R
vignettes/ipdw2.html
CRAN-RELEASE
knudsen
ipdw_docker
README.html